*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.page {
    padding: 0 5px;
    min-width: 320px;
}

@media (min-width: 480px) {
    .page {
        padding: 0 20px;
    }
}
