.footer {
    margin-top: 18px;
    min-height: 59px;
    padding-top: 10px;
}

// Tablet styles

@media (min-width: 480px) {
    .footer {
        margin-top: 29px;
    }
}

// Desktop styles

@media (min-width: 768px) {
    .footer {
        width: 700px;
    }
}

